.box {
	background: rgb(248, 248, 248);
}
body {
	background: rgb(248, 248, 248);
}
.header {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/head-bg.jpg") no-repeat center;
}
.header .company-main .com-name .table-td {
	color: rgb(255, 255, 255); font-size: 26px; text-shadow: 0px 1px 1px #000;
}
.wrap-box {
	background: rgb(255, 255, 255);
}
.number li .num-back {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/step.png") no-repeat 0px 0px; color: rgb(74, 189, 114);
}
.number li .num-active {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/step.png") no-repeat 0px -35px; color: rgb(255, 255, 255);
}
.number li .num-h {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/step.png") no-repeat 0px -70px; color: rgb(255, 255, 255);
}
.number li .line-h {
	background: rgb(221, 221, 221);
}
.number li .line-g {
	background: rgb(74, 189, 114);
}
.wrap-box .step .text-step li {
	color: rgb(204, 204, 204);
}
.wrap-box .step .text-step li.g {
	color: rgb(74, 189, 114);
}
.left-nav .nav li a {
	color: rgb(111, 165, 129);
}
.left-nav .nav li .state {
	color: rgb(170, 170, 170);
}
.left-nav .nav li .ok.state {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/allright.png") no-repeat 12px -25px;
}
.left-nav .nav li.active .ok.state {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/allright.png") no-repeat 12px 8px;
}
.left-nav .nav li.active a {
	color: rgb(255, 255, 255);
}
.left-nav .nav li.active .state {
	color: rgb(255, 255, 255);
}
.left-nav .nav li:hover a {
	color: rgb(255, 255, 255);
}
.left-nav .nav li:hover .state {
	color: rgb(255, 255, 255);
}
.left-nav .nav li.active a {
	background: rgb(148, 210, 169);
}
.left-nav .nav li:hover a {
	background: rgb(148, 210, 169);
}
.edit-box .resume-title {
	background: rgb(248, 248, 248); color: rgb(74, 189, 114);
}
.important {
	color: rgb(255, 0, 0);
}
.edit-box .line .title {
	color: rgb(153, 153, 153);
}
.edit-box .line .con-date {
	background: url("http://web03.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/calendar.png") no-repeat 239px;
}
.edit-box .line .con-double-date .double-date {
	background: url("http://web03.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/calendar.png") no-repeat 127px;
}
.submit-box .sub {
	background: rgb(100, 210, 134); border: 1px solid rgb(100, 210, 134); border-image: none; color: rgb(255, 255, 255);
}
.submit-box .cancel {
	background: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(153, 153, 153);
}
.submit-box .del {
	color: rgb(74, 189, 114);
}
.edit-box .blank-add a i {
	background: url("http://web05.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/add.png") no-repeat center;
}
.edit-box .con .selected.radio {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/radio.png") no-repeat 0px 11px;
}
.edit-box .con .radio {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/radio.png") no-repeat 0px -35px;
}
.edit-box .photo a {
	color: rgb(74, 189, 114); font-size: 14px;
}
.tip-photo {
	padding: 15px; width: 170px; height: 32px; font-size: 14px; display: none;
}
.edit-box .error {
	color: rgb(255, 0, 0); line-height: 20px; padding-left: 155px; font-size: 14px; margin-top: -8px; display: block;
}
.edit-btn {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/edit.png") no-repeat 0px 1px;
}
.add-btn {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/edit.png") no-repeat 0px -30px;
}
.edit-box .title-edit {
	color: rgb(74, 189, 114);
}
.add-btn {
	color: rgb(74, 189, 114);
}
.edit-box .enclosure .del-btn {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/del.png") no-repeat right;
}
.submit-btn-bottom {
	background: rgba(240, 240, 240, 0.8); width: 100%; height: 60px; bottom: 0px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid; position: fixed;
}
.volunteer-box .line-vol .wish {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/volunteer-icon.png") no-repeat 267px -163px;
}
.volunteer-box .treated.line-vol .wish {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/volunteer-icon.png") no-repeat 267px -127px;
}
.volunteer-box .line-vol .state a.up {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/volunteer-icon.png") no-repeat 0px -46px;
}
.volunteer-box .line-vol .state a.del {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/volunteer-icon.png") no-repeat 0px 0px;
}
.volunteer-box .add-new-vol .btn span {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/volunteer-icon.png") no-repeat 0px -80px; color: rgb(74, 189, 114);
}
.submit-btn-bottom .sub-vol {
	background: rgb(100, 210, 134); color: rgb(255, 255, 255); font-size: 16px;
}
.function-btn a {
	color: rgb(102, 102, 102); font-size: 16px;
}
.function-btn .function-btn-normal {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/login.png") no-repeat 86px -34px;
}
.function-btn .function-btn-phone {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/login.png") no-repeat 79px -83px;
}
.function-btn .active.function-btn-normal {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/login.png") no-repeat 86px 15px;
}
.function-btn .active.function-btn-phone {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/login.png") no-repeat 79px -132px; color: rgb(74, 189, 114);
}
.input input {
	background: rgb(245, 245, 245); color: rgb(153, 153, 153); font-size: 14px;
}
.input p {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/error_mark.png") no-repeat 1px 9px; color: red; font-size: 12px;
}
.login-content span {
	color: rgb(153, 153, 153); font-size: 14px;
}
.eye {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/eye.png") no-repeat 0px 18px;
}
.eye-open {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/eye.png") no-repeat 0px -30px;
}
.login-option .forgot-pass {
	color: rgb(102, 102, 102); font-size: 14px;
}
.login-btn {
	background: rgb(100, 210, 134); color: rgb(255, 255, 255); font-size: 20px; font-weight: bold;
}
.login-btn:hover {
	background: rgb(74, 189, 114);
}
.register-warn {
	color: rgb(108, 199, 138); font-size: 16px;
}
.login-line-box .label {
	color: rgb(153, 153, 153); font-size: 14px;
}
.login-line-box .login-line {
	color: rgb(153, 153, 153);
}
.login-share-ls li.share-wechat {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/share.png") no-repeat 0px 0px;
}
.login-share-ls li.share-wechat:hover {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/share_hover.png") no-repeat 0px 0px;
}
.login-share-ls li.share-qq {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/share.png") no-repeat -109px 0px;
}
.login-share-ls li.share-qq:hover {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/share_hover.png") no-repeat -109px 0px;
}
.login-share-ls li.share-weibo {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/share.png") no-repeat -215px 0px;
}
.login-share-ls li.share-weibo:hover {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/share_hover.png") no-repeat -215px 0px;
}
.valide-num {
	background: rgb(70, 83, 100); color: rgb(255, 255, 255); font-size: 14px;
}
.valide-num-changebg {
	background: rgb(70, 83, 100);
}
.reg-title {
	color: rgb(119, 119, 119); font-size: 18px; font-weight: bold;
}
.agreement {
	color: rgb(102, 102, 102); font-size: 14px;
}
.reg-dialog {
	background: rgb(73, 73, 73); color: rgb(255, 255, 255); font-size: 14px; opacity: 0.7; -moz-opacity: 0.7;
}
.reg-dialog .reg-first {
	font-size: 18px;
}
.sucess-logo {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/register_success.png") no-repeat 0px 0px;
}
.success-text-first {
	color: rgb(128, 194, 105); font-size: 28px;
}
.success-text-email {
	color: rgb(102, 102, 102); font-size: 16px;
}
.success-text-third {
	color: rgb(153, 153, 153); font-size: 14px;
}
.success-text-btn {
	background: rgb(100, 210, 134); color: rgb(255, 255, 255); line-height: 36px; font-size: 16px; font-weight: bold;
}
.success-text-btn:hover {
	background: rgb(74, 189, 114);
}
.apply-success-code {
	
}
.apply-success-title {
	color: rgb(153, 153, 153); font-size: 14px;
}
.apply-success-title span {
	color: rgb(255, 105, 105);
}
.text-title {
	color: rgb(74, 189, 114); font-size: 28px;
}
.text-title-job {
	color: rgb(103, 200, 137); font-size: 16px;
}
.volunteer {
	color: rgb(102, 102, 102); font-size: 16px;
}
.volunteer span {
	color: rgb(102, 102, 102); font-size: 16px;
}
.school-apply {
	background: rgb(100, 210, 134); color: rgb(255, 255, 255);
}
.company-apply {
	background: rgb(255, 255, 255); color: rgb(100, 210, 134);
}
.edit-box .line .con-double .select-sort {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 75px 13px; color: rgb(170, 170, 170); font-size: 14px;
}
.edit-box .line .con-double-l .select-sort {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 75px 13px; color: rgb(170, 170, 170); font-size: 14px;
}
.edit-box .line .con-double .font.select-sort {
	color: rgb(102, 102, 102);
}
.edit-box .line .con-double-l .font.select-sort {
	color: rgb(102, 102, 102);
}
.edit-box .line .con-double .select.select-sort {
	background: url("http://web04.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 75px -31px;
}
.edit-box .line .con-double-l .select-sort {
	background: url("http://web02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 175px 13px;
}
.edit-box .line .con-double-l .select.select-sort {
	background: url("http://web05.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 175px -31px;
}
.edit-box .line .con-double .select-long {
	background: url("http://web03.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 242px 13px; color: rgb(170, 170, 170); font-size: 14px;
}
.edit-box .line .con-double .select.select-long {
	background: url("http://web04.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 242px -31px;
}
.edit-box .enclosure {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/fj.png") no-repeat left;
}
.vol-choose-box .controler .sort-s .sort-s-text {
	background: url("http://web03.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 158px 13px; color: rgb(170, 170, 170); font-size: 14px;
}
.vol-choose-box .controler .sort-s .select.sort-s-text {
	background: url("http://web04.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 158px -31px;
}
.vol-choose-box .vol-wrap-box .list li:hover {
	background: rgb(185, 213, 231); color: rgb(255, 255, 255);
}
.vol-choose-box .vol-wrap-box .list li.active {
	background: rgb(185, 213, 231); color: rgb(255, 255, 255);
}
.school-choose-box .choose-s .select {
	background: url("http://web03.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 130px 13px;
}
.school-choose-box .choose-s .active.select {
	background: url("http://web04.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/downArrow.png") no-repeat 130px -31px;
}
.school-choose-box .school-box .school-list li span.active {
	background: rgb(74, 189, 114); color: rgb(255, 255, 255);
}
.school-choose-box .school-box .school-list li span:hover {
	background: rgb(74, 189, 114); color: rgb(255, 255, 255);
}
.multistage-list .first-leavel ul li:hover {
	background: rgb(185, 213, 231); color: rgb(255, 255, 255);
}
.first-leavel ul li:hover span {
	background: rgb(185, 213, 231); color: rgb(255, 255, 255);
}
.first-leavel ul li.active span {
	background: rgb(185, 213, 231); color: rgb(255, 255, 255);
}
.multistage-list .first-leavel ul li.active {
	background: rgb(185, 213, 231); color: rgb(255, 255, 255);
}
.multistage-list .second-leavel li span:hover {
	background: rgb(74, 189, 114); color: rgb(255, 255, 255);
}
.multistage-list .second-leavel li.active span {
	background: rgb(74, 189, 114); color: rgb(255, 255, 255);
}
.gh-show {
	position: relative; cursor: pointer;
}
.g-hink {
	background: rgb(255, 255, 255); padding: 10px; border: 4px solid rgb(230, 230, 230); border-image: none; left: 0px; width: 190px; height: 55px; text-align: left; color: rgb(153, 153, 153); font-size: 16px; font-weight: 600; display: none; position: absolute; z-index: 1;
}
.g-hink .f-red {
	color: red;
}
.s-w {
	text-align: right;
}
.sc-tille {
	width: 310px; text-align: right; float: left;
}
.up-edit-box .result {
	margin-left: 0px;
}
.up-edit-box .sc-close {
	border-radius: 50%; border: 1px solid rgb(74, 189, 114); border-image: none; width: 14px; height: 14px; color: rgb(74, 189, 114); line-height: 14px; font-size: 20px; margin-top: 2px; margin-left: 10px; float: left; cursor: pointer;
}
.file-name {
	color: rgb(153, 153, 153); overflow: hidden; font-size: 14px; float: left; display: block; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 329px;
}
.up-edit-box .sc-file {
	margin: 0px 0px 0px 10px;
}
.up-edit-box .important {
	color: red;
}
.f-size {
	color: rgb(102, 102, 102); font-size: 14px;
}
.re-edit-box {
	padding-bottom: 20px;
}
.re-edit-box .line .title {
	vertical-align: top;
}
.input input {
	width: 322px; color: rgb(0, 0, 0);
}
.wrong-border {
	border: 1px solid red; border-image: none;
}
.valide-num1 {
	background: rgb(220, 224, 227);
}
.up-edit-box .tille {
	width: 143px; float: left;
}
.left-nav .nav li .state {
	background: url("http://web03.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/not_file.png") no-repeat center;
}
.left-nav .nav li.active .ok.state {
	background: url("(http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/allright.png") no-repeat -1px -32px;
}
.left-nav .nav li .state {
	top: 29%;
}
.left-nav .nav li .ok.state {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/allright.png") no-repeat -1px -32px;
}
