.cutWord {
	overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.header {
	width: 100%; height: 190px; position: relative;
}
.header .white-shadow {
	background: rgb(255, 255, 255); left: 50%; width: 1000px; height: 123px; bottom: 0px; margin-left: -500px; position: absolute; opacity: 0.4;
}
.header .company-main {
	left: 50%; width: 1000px; height: 123px; bottom: 0px; margin-left: -500px; position: absolute;
}
.header .company-main .logo {
	border-radius: 4px; width: 162px; height: 68px; overflow: hidden; margin-top: 27px; margin-left: 22px; float: left;
}
.header .company-main .logo a {
	width: 162px; height: 68px;
}
.header .company-main .com-name {
	width: 690px; height: 123px; overflow: hidden; margin-left: 40px; float: left;
}
.box-table {
	display: table;
}
.table-tr {
	vertical-align: middle; display: table-cell;
}
.table-td {
	display: block;
}
.wrap-box {
	margin: 0px auto; width: 1000px; overflow: hidden;
}
.wrap-box .step {
	padding: 45px 0px; width: 1000px; height: 60px;
}
.wrap-box .step .number {
	margin: 0px auto; overflow: hidden; max-width: 640px;
}
.wrap-box .step .number li {
	float: left;
}
.number li {
	overflow: hidden;
}
.number li .num-back {
	width: 30px; height: 30px; text-align: center; line-height: 30px; overflow: hidden; font-size: 18px; float: left; display: inline-block;
}
.number li .num-active {
	width: 30px; height: 30px; text-align: center; line-height: 30px; overflow: hidden; font-size: 18px; float: left; display: inline-block;
}
.number li .num-h {
	width: 30px; height: 30px; text-align: center; line-height: 30px; overflow: hidden; font-size: 18px; float: left; display: inline-block;
}
.number li .line-h {
	width: 80px; height: 2px; margin-top: 14px; float: left; display: inline-block;
}
.number li .line-g {
	width: 80px; height: 2px; margin-top: 14px; float: left; display: inline-block;
}
.wrap-box .step .text-step {
	margin: 0px auto; width: 800px; overflow: hidden;
}
.wrap-box .step .text-step li {
	width: 190px; height: 30px; text-align: center; line-height: 30px; font-size: 16px; font-weight: bold; float: left;
}
.wrap-box .left-nav {
	border-radius: 4px; border: 1px solid rgb(176, 233, 196); border-image: none; width: 228px; overflow: hidden; margin-left: 15px; float: left;
}
.wrap-box .left-nav .nav li {
	width: 228px; line-height: 32px; font-size: 14px; min-height: 32px;
}
.left-nav .nav li a {
	padding: 0px 30px 0px 10px; width: 190px; line-height: 32px; overflow: hidden; font-size: 14px; position: relative; min-height: 32px;
}
.left-nav .nav li a span.important {
	width: 10px; display: inline-block;
}
.left-nav .nav li .state {
	top: 0px; width: 16px; height: 16px; text-align: right; right: 10px; line-height: 32px; position: absolute;
}
.wrap-box .right-main {
	margin: 0px 36px; width: 676px; float: right;
}
.edit-box {
	position: relative;
}
.edit-box .resume-title {
	padding: 0px 15px; border-radius: 4px; height: 40px; line-height: 40px; font-size: 18px; position: relative;
}
.edit-box .line {
	margin: 10px 0px; overflow: hidden; padding-bottom: 10px; display: table;
}
.edit-box .line input[type='radio'] {
	display: none;
}
.edit-box .line input[type='checkbox'] {
	display: none;
}
.edit-box .line .con input[type='radio'] {
	display: none;
}
.edit-box .line .con input[type='checkbox'] {
	display: none;
}
.edit-box .line .title {
	width: 160px; text-align: right; font-size: 14px; vertical-align: middle; display: table-cell;
}
.edit-box .font {
	padding: 0px 10px; color: rgb(102, 102, 102); font-size: 14px;
}
.edit-box .line .right-block {
	vertical-align: middle; display: table-cell;
}
.edit-box .line .con {
	margin-left: 10px; float: left;
}
.edit-box .line .con input {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 242px; height: 32px; line-height: 32px;
}
.edit-box .line .con-date {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 262px; height: 32px; margin-left: 10px; float: left;
}
.edit-box .line .con-date input {
	border: 0px currentColor; border-image: none; width: 200px; height: 32px; line-height: 32px; float: left;
}
.edit-box .line .con-double {
	height: 34px; margin-left: 10px; float: left;
}
.edit-box .line .con-double-l {
	height: 34px; margin-left: 10px; float: left;
}
.edit-box .line .con-double-date {
	height: 34px; margin-left: 10px; float: left;
}
.edit-box .line .con-double input {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 158px; height: 32px; line-height: 32px; float: left;
}
.edit-box .line .con-double-l input {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 158px; height: 32px; line-height: 32px; float: left;
}
.edit-box .line .con-double-l input {
	width: 274px;
}
.edit-box .line .con-double .select-sort {
	padding: 0px 20px 0px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 62px; height: 32px; line-height: 32px; margin-right: 10px; float: left; cursor: default;
}
.edit-box .line .con-double-l .select-sort {
	padding: 0px 20px 0px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 62px; height: 32px; line-height: 32px; margin-right: 10px; float: left; cursor: default;
}
.edit-box .line .con-double-l .select-sort {
	width: 162px;
}
.edit-box .line .con-double .select-long {
	padding: 0px 20px 0px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 232px; height: 32px; line-height: 32px; margin-right: 10px; float: left; cursor: default;
}
.edit-box .line .con-double .font.select-long {
	color: rgb(102, 102, 102); font-size: 14px;
}
.edit-box .line .con textarea {
	padding: 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 428px; height: 86px; resize: none;
}
.edit-box .line .con-double-date .double-date {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 149px; height: 32px; color: rgb(102, 102, 102); font-size: 14px; margin-right: 7px; float: left;
}
.edit-box .line .con-double-date .separator {
	height: 32px; color: rgb(102, 102, 102); line-height: 32px; font-size: 14px; margin-right: 7px; float: left;
}
.edit-box .pre-line {
	margin: 0px;
}
.edit-box .pre-line .title {
	
}
.edit-box .pre-line .con-text {
	line-height: 30px;
}
.con-double-date .double-date input {
	border: 0px currentColor; border-image: none; width: 100px; height: 32px; float: left;
}
.submit-box ul {
	margin: 10px auto; overflow: hidden;
}
.submit-box ul.normol {
	width: 188px;
}
.submit-box ul.third {
	width: 332px;
}
.submit-box ul li {
	float: left;
}
.submit-box .sub {
	margin: 0px 7px; border-radius: 4px; width: 78px; height: 30px; text-align: center; line-height: 30px; font-size: 16px;
}
.submit-box .cancel {
	margin: 0px 7px; border-radius: 4px; width: 78px; height: 30px; text-align: center; line-height: 30px; font-size: 16px;
}
.submit-box .del {
	margin: 0px 7px; text-align: right; line-height: 32px; font-size: 14px; text-decoration: underline; display: inline-block;
}
.edit-box .blank-add {
	background: rgb(255, 255, 255); height: 80px; text-align: center; margin-top: 30px;
}
.edit-box .blank-add a {
	overflow: hidden; display: inline-block;
}
.edit-box .blank-add a i {
	width: 23px; height: 23px; margin-right: 6px; float: left; display: inline-block;
}
.edit-box .blank-add a span {
	height: 23px; color: rgb(153, 153, 153); font-size: 14px; float: left; display: inline-block;
}
.edit-box .con .radio {
	height: 34px; line-height: 34px; padding-left: 15px; float: left; display: block; cursor: default;
}
.edit-box .photo {
	right: 76px; position: absolute;
}
.edit-box .photo .img {
	width: 90px; height: 120px;
}
.edit-box .photo a {
	width: 90px; height: 40px; text-align: center; line-height: 40px; text-decoration: underline;
}
.tip-photo {
	border: 3px solid rgb(230, 230, 230); border-image: none; color: rgb(102, 102, 102);
}
.tip-photo span {
	color: rgb(249, 86, 89);
}
.edit-btn {
	height: 16px; line-height: 16px; padding-left: 18px; display: inline-block;
}
.add-btn {
	height: 16px; line-height: 16px; padding-left: 18px; display: inline-block;
}
.edit-box .title-edit {
	top: 12px; right: 10px; font-size: 14px; position: absolute;
}
.add-btn {
	top: 12px; right: 10px; font-size: 14px; position: absolute;
}
.edit-box .edit-box-wrap {
	padding: 25px 0px;
}
.edit-box .edit-box-wrap {
	padding: 25px 0px;
}
.edit-box .show-wrap {
	padding: 10px 0px 50px; position: relative;
}
.edit-box .show-border {
	border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: dashed;
}
.edit-box .show-wrap .edit-btn {
	top: 16px; right: 0px; position: absolute;
}
.edit-box .con-text {
	width: 470px; color: rgb(102, 102, 102); line-height: 34px; padding-left: 15px; font-size: 14px; float: left;
}
.edit-box .enclosure {
	height: 20px; overflow: hidden; padding-left: 20px;
}
.edit-box .enclosure .enc-name {
	color: rgb(102, 102, 102); line-height: 20px; font-size: 14px; float: left;
}
.edit-box .enclosure .del-btn {
	width: 15px; height: 20px; margin-left: 15px; float: left;
}
.submit-btn-bottom .submit-box ul {
	margin: 15px auto;
}
.volunteer-box {
	margin: 45px auto 0px; width: 570px;
}
.volunteer-box .line-vol {
	overflow: hidden; margin-bottom: 34px;
}
.volunteer-box .line-vol .title {
	width: 95px; height: 34px; text-align: right; color: rgb(153, 153, 153); line-height: 34px; font-size: 14px; margin-right: 25px; float: left;
}
.volunteer-box .line-vol .wish {
	border: 1px solid rgb(165, 165, 165); border-image: none; width: 260px; height: 32px; overflow: hidden; padding-right: 30px; margin-right: 15px; float: left;
}
.volunteer-box .line-vol .wish input {
	border: 0px currentColor; border-image: none; width: 250px; height: 32px; color: rgb(102, 102, 102); line-height: 32px; padding-left: 10px; font-size: 14px;
}
.volunteer-box .line-vol .state {
	height: 34px; color: rgb(102, 102, 102); line-height: 34px; font-size: 14px;
}
.volunteer-box .line-vol .state a {
	margin: 5px 8px; width: 24px; height: 24px; float: left;
}
.volunteer-box .treated.line-vol .wish {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.volunteer-box .treated.line-vol .wish input {
	color: rgb(165, 165, 165);
}
.cannot-sub {
	border: 1px dashed rgb(212, 212, 212); border-image: none; overflow: hidden;
}
.cannot-sub .tip {
	height: 68px; text-align: center; color: rgb(255, 0, 0); line-height: 68px; font-size: 14px;
}
.volunteer-box .add-new-vol {
	padding: 60px 0px;
}
.volunteer-box .add-new-vol .btn {
	background: rgb(252, 252, 252); margin: 0px auto; border-radius: 3px; border: 1px dashed rgb(212, 212, 212); border-image: none; width: 458px; height: 48px; text-align: center; line-height: 48px;
}
.volunteer-box .add-new-vol .btn span {
	padding-left: 20px; font-size: 14px; vertical-align: top; display: inline-block;
}
.submit-btn-bottom .sub-vol {
	margin: 12px auto; border-radius: 3px; width: 129px; height: 36px; text-align: center; line-height: 36px;
}
.login-wrap {
	margin: 0px auto; border-radius: 20px; border: 5px solid rgb(234, 234, 234); border-image: none; width: 640px; position: relative;
}
.register-content {
	
}
.function-btn {
	overflow: hidden;
}
.function-btn a {
	width: 319.5px; height: 45px; text-align: center; line-height: 45px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.function-btn .function-btn-normal {
	border-right-color: rgb(234, 234, 234); border-bottom-color: rgb(234, 234, 234); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left;
}
.function-btn .function-btn-phone {
	border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.function-btn .active.function-btn-normal {
	color: rgb(74, 189, 114); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.function-btn .active.function-btn-phone {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.login-content {
	margin: 23px auto 0px; width: 360px;
}
.input input {
	padding: 0px 17px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 326px; height: 42px; line-height: 42px;
}
.input input.red-border {
	border: 1px solid red; border-image: none;
}
.name-box {
	position: relative;
}
.pass-box {
	margin-top: 12px; position: relative;
}
.name-label {
	left: 17px; top: 13px; position: absolute;
}
.pass-label {
	left: 17px; top: 12px; position: absolute;
}
.eye {
	top: 0px; width: 25px; height: 42px; right: 0px; position: absolute;
}
.input p {
	height: 21px; line-height: 29px; padding-left: 18px; display: none;
}
.login-option {
	width: 100%; height: 46px; line-height: 46px; overflow: hidden;
}
.login-option .forgot-pass {
	text-decoration: underline; float: right;
}
.login-common-wrap {
	margin: 0px auto; width: 360px;
}
.login-btn {
	border-radius: 5px; width: 100%; height: 40px; text-align: center; line-height: 40px;
}
.register-warn {
	height: 40px; line-height: 40px;
}
.login-line-box {
	padding: 0px 36px; text-align: center; overflow: hidden; position: relative;
}
.login-line-box .login-line {
	top: 0px; position: absolute;
}
.login-line-l {
	left: 36px;
}
.login-line-r {
	right: 36px;
}
.login-share-box {
	margin: 17px auto; width: 264px;
}
.login-share-ls {
	overflow: hidden; margin-left: -63px;
}
.login-share-ls li {
	width: 46px; height: 46px; margin-left: 63px; float: left;
}
.phone-login-wrap {
	margin-bottom: 18px; display: none;
}
.phone-box {
	position: relative;
}
.phone-num-box {
	margin-top: 12px; position: relative;
}
.pic-valide {
	display: none;
}
.phone-num-box .input-valide {
	width: 208px;
}
.valide {
	border-radius: 1px; width: 100px; height: 35px; line-height: 35px; margin-top: 3px; float: right;
}
.valide-num {
	text-align: center;
}
.reg-title {
	text-align: left; margin-top: 31px; margin-left: 140px;
}
.agreement {
	text-decoration: underline; display: inline-block;
}
.reg-dialog {
	padding: 13px 0px; left: 50%; top: 90px; width: 320px; height: 44px; text-align: center; margin-left: -160px; display: none; position: absolute;
}
.register-success {
	display: none;
}
.register-suc-box {
	padding: 85px 40px 0px 140px; overflow: hidden;
}
.sucess-logo {
	width: 60px; height: 60px; float: left;
}
.success-text-box {
	width: 315px; margin-left: 25px; float: left;
}
.success-text-email {
	margin-top: 17px;
}
.success-text-third {
	height: 60px; line-height: 30px; margin-top: 9px;
}
.success-text-btn {
	border-radius: 2px; width: 194px; height: 36px; text-align: center; margin-top: 30px;
}
.apply-success-wrap {
	overflow: hidden; padding-bottom: 50px; padding-left: 180px;
}
.apply-success-code {
	width: 221px; height: 331px; float: left; position: relative;
}
.apply-success-text {
	width: 350px; overflow: hidden; margin-left: 58px; float: left;
}
.apply-success-img {
	left: 24px; top: 46px; width: 166px; height: 166px; position: absolute;
}
.apply-success-title {
	left: 20px; top: 230px; text-align: center; position: absolute;
}
.text-title {
	margin-top: 50px;
}
.text-title-job {
	margin-top: 2px;
}
.volunteer-success-box {
	margin-top: 30px;
}
.volunteer {
	margin: 6px 0px; line-height: 25px;
}
.volunteer span {
	margin: 6px 0px; line-height: 25px;
}
.volunteer-btn {
	width: 138px; height: 34px; text-align: center; line-height: 34px; font-size: 16px; font-weight: bold; margin-top: 22px;
}
.school-apply {
	border: 1px solid rgb(100, 210, 134); border-image: none; float: left;
}
.company-apply {
	border: 1px solid rgb(100, 210, 134); border-image: none; margin-left: 20px; float: left;
}
.select-box {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-image: none; left: 100px; top: 100px; display: none; position: absolute;
}
.tip-box {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-image: none; left: 100px; top: 100px; display: none; position: absolute;
}
.select-box .select-list li {
	padding: 0px 10px; height: 28px; color: rgb(102, 102, 102); line-height: 28px; font-size: 14px; cursor: default;
}
.tip-box .tip-list li {
	padding: 0px 10px; height: 28px; color: rgb(102, 102, 102); line-height: 28px; font-size: 14px; cursor: default;
}
.select-box .select-list li .red {
	color: rgb(255, 0, 0);
}
.tip-box .tip-list li .red {
	color: rgb(255, 0, 0);
}
.select-box .select-list li .hui {
	color: rgb(170, 170, 170);
}
.tip-box .tip-list li .hui {
	color: rgb(170, 170, 170);
}
.select-box .select-list li:hover {
	background: rgb(241, 241, 241);
}
.select-box .select-list li.active {
	background: rgb(241, 241, 241);
}
.tip-box .tip-list li:hover {
	background: rgb(241, 241, 241);
}
.tip-box .tip-list li.active {
	background: rgb(241, 241, 241);
}
.shadow {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; opacity: 0.6;
}
.vol-choose-box {
	background: rgb(255, 255, 255); border: 5px solid rgb(76, 76, 76); border-image: none; left: 50%; top: 50%; width: 726px; height: 450px; margin-top: -225px; margin-left: -363px; position: fixed;
}
.vol-choose-box .title span {
	width: 660px; overflow: hidden; float: left; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.vol-choose-box .title {
	background: rgb(240, 240, 240); padding: 0px 18px; height: 52px; color: rgb(102, 102, 102); line-height: 52px; font-size: 14px;
}
.vol-choose-box .title a {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/close.png") no-repeat center; width: 14px; height: 14px; margin-top: 19px; float: right;
}
.vol-choose-box .left {
	width: 363px; height: 345px; float: left;
}
.vol-choose-box .right {
	width: 363px; height: 345px; float: left;
}
.vol-choose-box .controler {
	margin: 12px 0px; width: 345px; height: 34px; overflow: hidden;
}
.vol-choose-box .left .controler {
	margin-left: 18px;
}
.vol-choose-box .right .controler {
	margin-left: 8px;
}
.vol-choose-box .controler .title-c {
	color: rgb(102, 102, 102); line-height: 34px; font-size: 14px; float: left; display: inline-block;
}
.vol-choose-box .controler .sort-s {
	width: 178px; height: 34px; float: left;
}
.vol-choose-box .controler .sort-s .sort-s-text {
	padding: 0px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 156px; height: 32px; line-height: 32px; float: left; display: inline-block;
}
.vol-choose-box .vol-wrap-box {
	border: 1px solid rgb(240, 240, 240); border-image: none; width: 340px; height: 263px; -ms-overflow-y: auto;
}
.vol-choose-box .left .vol-wrap-box {
	margin-left: 18px;
}
.vol-choose-box .right .vol-wrap-box {
	margin-left: 8px;
}
.vol-choose-box .vol-wrap-box .list li {
	padding: 0px 10px; height: 34px; color: rgb(102, 102, 102); line-height: 34px; overflow: hidden; font-size: 14px; white-space: nowrap; cursor: default; -ms-text-overflow: ellipsis;
}
.vol-choose-box .vol-wrap-box p {
	padding: 10px; color: rgb(102, 102, 102); line-height: 24px; font-size: 14px;
}
.vol-choose-box .controler .sort-s .font.sort-s-text {
	color: rgb(102, 102, 102); font-size: 14px;
}
.vol-choose-box .btn-box {
	margin: 20px 0px; width: 100%; height: 32px;
}
.vol-choose-box .btn-box .btn {
	margin: 0px auto; width: 200px; height: 32px; overflow: hidden;
}
.vol-choose-box .btn-box .btn li {
	margin: 0px 10px; float: left;
}
.vol-choose-box .btn-box .btn a {
	border-radius: 3px; width: 78px; height: 30px; text-align: center; line-height: 30px; font-size: 16px;
}
.vol-choose-box .btn-box .btn a.ok {
	background: rgb(100, 210, 134); border: 1px solid rgb(100, 210, 134); border-image: none; color: rgb(255, 255, 255);
}
.vol-choose-box .btn-box .btn a.cancel {
	background: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(153, 153, 153);
}
.school-choose-box {
	background: rgb(255, 255, 255); border: 5px solid rgb(76, 76, 76); border-image: none; left: 50%; top: 50%; width: 670px; height: 370px; margin-top: -185px; margin-left: -335px; position: fixed;
}
.school-choose-box .head-school {
	background: rgb(240, 240, 240); height: 52px; overflow: hidden; position: relative;
}
.school-choose-box .head-school .school-input {
	margin: 9px 10px; height: 34px; overflow: hidden; position: absolute;
}
.school-choose-box .head-school .school-input span {
	width: 80px; height: 34px; text-align: right; color: rgb(102, 102, 102); line-height: 34px; font-size: 14px; float: left;
}
.school-choose-box .head-school .school-input input {
	padding: 0px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 254px; height: 32px; color: rgb(102, 102, 102); line-height: 32px; font-size: 14px; float: left;
}
.school-choose-box .head-school .close {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/close.png") no-repeat center; top: 19px; width: 14px; height: 14px; right: 10px; position: absolute;
}
.school-choose-box .choose-s {
	padding: 10px 0px; height: 34px; overflow: hidden; border-bottom-color: rgb(240, 240, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.school-choose-box .choose-s .title {
	width: 80px; height: 34px; text-align: right; color: rgb(102, 102, 102); line-height: 34px; font-size: 14px; margin-left: 10px; float: left;
}
.school-choose-box .choose-s .select-s {
	height: 34px; float: left;
}
.school-choose-box .choose-s .select {
	padding: 0px 20px 0px 10px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 120px; height: 32px; color: rgb(102, 102, 102); line-height: 32px; font-size: 14px; margin-right: 10px; float: left; cursor: default;
}
.school-choose-box .school-box {
	padding: 10px 0px 10px 10px; height: 243px; -ms-overflow-y: auto;
}
.school-choose-box .school-box .school-list li {
	width: 210px; height: 24px; overflow: hidden; float: left;
}
.school-choose-box .school-box .school-list li span {
	padding: 0px 10px; border-radius: 3px; height: 24px; color: rgb(102, 102, 102); line-height: 24px; font-size: 14px; float: left; display: inline-block; cursor: default;
}
.multistage-list {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-image: none; height: 168px; overflow: hidden; display: none; position: absolute; z-index: 300;
}
.multistage-list .first-leavel {
	width: 200px; height: 168px; overflow: scroll; float: left;
}
.multistage-list .first-leavel ul li {
	width: 100%; height: 30px; color: rgb(102, 102, 102); line-height: 30px; overflow: hidden; font-size: 14px; float: left; cursor: default;
}
.first-leavel ul li span {
	width: 15px; height: 30px; color: rgb(170, 170, 170); line-height: 30px; font-size: 14px; margin-left: 5px; float: left; display: inline-block;
}
.multistage-list .second-leavel {
	width: 300px; height: 168px; float: right; -ms-overflow-y: scroll;
}
.multistage-list .second-leavel li {
	height: 24px; overflow: hidden; float: left; cursor: default;
}
.multistage-list .second-leavel li span {
	padding: 0px 10px; border-radius: 3px; height: 24px; color: rgb(102, 102, 102); line-height: 24px; font-size: 14px; float: left; display: block; max-width: 262px;
}
.box {
	padding-bottom: 50px;
}
.hrefName {
	height: 0px; position: relative;
}
.tip-box-alert .shadow {
	background: rgb(0, 0, 0); left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: 3; opacity: 0.6;
}
.tip-box-alert .shadow-border {
	background: rgb(0, 0, 0); left: 50%; top: 50%; width: 360px; height: 152px; margin-top: -76px; margin-left: -180px; position: fixed; opacity: 0.25;
}
.tip-box-alert .tip-small {
	padding: 15px; left: 50%; top: 50%; width: 350px; margin-top: -15px; margin-left: -160px; position: fixed;
}
.tip-box-alert .tip-small .wrap {
	color: rgb(255, 255, 255); font-size: 14px;
}
.tip-box-alert .tip {
	background: rgb(255, 255, 255); left: 50%; top: 50%; width: 350px; padding-bottom: 15px; margin-top: -71px; margin-left: -175px; position: fixed; z-index: 3;
}
.tip-box-alert .tip .wrap {
	margin: 10px auto 0px; padding: 20px 0px; width: 230px; color: rgb(102, 102, 102); font-size: 14px;
}
.tip-box-alert .tip .close {
	background: url("http://web04.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/close.png") no-repeat center; top: 8px; width: 14px; height: 14px; right: 8px; position: absolute;
}
.tip-box-alert .tip .btn-box {
	text-align: center;
}
.tip-box-alert .tip .btn {
	background: rgb(100, 210, 134); margin: 0px 3px; padding: 0px 16px; border-radius: 3px; border: 1px solid rgb(100, 210, 134); border-image: none; height: 30px; color: rgb(255, 255, 255); line-height: 30px; font-size: 16px; display: inline-block;
}
.tip-box-alert .tip .btn-h {
	background: rgb(255, 255, 255); margin: 0px 3px; padding: 0px 16px; border-radius: 3px; border: 1px solid rgb(153, 153, 153); border-image: none; height: 30px; color: rgb(153, 153, 153); line-height: 30px; font-size: 16px; display: inline-block;
}
.up-input {
	background: rgb(128, 209, 156); border-radius: 50%; width: 16px; height: 16px; color: rgb(255, 255, 255); line-height: 14px; overflow: hidden; margin-top: 4px; vertical-align: middle; float: left; display: inline-block; position: relative;
}
.up-input input {
	top: 0px; right: 0px; font-size: 100px; position: absolute; opacity: 0;
}
.up-edit-box {
	padding-bottom: 50px;
}
.up-edit-box span {
	color: rgb(153, 153, 153); font-size: 14px; min-height: 23px;
}
.up-edit-box .result {
	margin-left: 14px;
}
.edit-box .resume-title .no-done {
	color: rgb(255, 0, 0); line-height: 40px; font-size: 14px;
}
.up-edit-box .important {
	color: rgb(255, 0, 0);
}
.report-bd {
	background: rgb(247, 247, 247); font: 400 20px/normal Microsoft Yahei, "Î¢ÈíÑÅºÚ", Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.head-main-bg {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/head_bg_fill.jpg") repeat-x; width: 100%; height: 532px; font-family: "Î¢ÈíÑÅºÚ";
}
.head-main {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/head_bg_center.jpg") 100% 100% / 100% 100%; margin: 0px auto; width: 1302px; height: 532px; position: relative;
}
.head-main .head-content {
	margin: 0px auto; width: 976px; height: 532px;
}
.head-main h1 {
	padding: 150px 0px 0px; width: 500px; color: rgb(255, 255, 255); font-size: 48px;
}
.head-main .title-underline {
	background: rgb(255, 255, 255); margin: 17px 0px; width: 88px; height: 4px; _margin: 0;
}
.head-main .report {
	color: rgb(76, 89, 105); font-size: 24px;
}
.head-main .report img {
	width: 71px; height: 24px; margin-top: 4.5px; margin-right: 4px; display: inline-block;
}
.content-main {
	background: rgb(247, 247, 247); width: 100%; font-family: "Î¢ÈíÑÅºÚ";
}
.content-main-resume .resume {
	margin: auto; width: 1006px;
}
.content-main-communication .main {
	margin: auto; width: 1006px;
}
.content-main-meeting .main {
	margin: auto; width: 1006px;
}
.content-main-exam .main {
	margin: auto; width: 1006px;
}
.content-main-interview .main {
	margin: auto; width: 1006px;
}
.content-main-perform .main {
	margin: auto; width: 1006px;
}
.content-main h2 {
	color: rgb(48, 48, 49); padding-top: 46px; padding-bottom: 62px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 26px;
}
.content-main h2 span {
	color: rgb(41, 178, 106); font-size: 42px; margin-right: 10px;
}
.resume-items {
	overflow: hidden;
}
.resume-items .item {
	float: left; position: relative;
}
.resume-items .pic {
	width: 126px; height: 126px; text-align: center; color: rgb(255, 255, 255); line-height: 3.25rem; font-size: 0.6rem; background-size: 50% 100%;
}
.resume-items p {
	text-align: center; color: rgb(51, 51, 51); font-size: 18px; margin-top: 14px;
}
.resume-items .item1 {
	margin-left: 82px;
}
.resume-items .item1 .pic {
	line-height: 126px; font-size: 24px; position: relative; z-index: 4;
}
.resume-items .item1 .percent {
	top: 0px; width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 126px; font-size: 24px; position: absolute; z-index: 10;
}
.resume-items .item2 {
	margin-left: 228px;
}
.resume-items .item2 .pic {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/item2_green.png") no-repeat 0% 0% / 100% 100%; line-height: 126px; font-size: 24px;
}
.resume-items .item3 {
	margin-left: 228px;
}
.resume-items .item3 .pic {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/item2_red.png") no-repeat 0% 0% / 100% 100%; width: 126px; line-height: 126px; font-size: 24px; margin-right: 0px;
}
.resume .chart h3 {
	margin: 136px 0px 0px; color: rgb(48, 48, 49); font-size: 18px;
}
.resume .chart .chartpic {
	margin: auto; width: 100%;
}
.resume .chart .chart1 {
	height: 323px;
}
.resume .chart .chart2 {
	height: 323px; padding-bottom: 90px;
}
.content-main-communication {
	background: rgb(235, 236, 237);
}
.content-main-communication .box-comms {
	overflow: hidden;
}
.content-main-communication .box-comm {
	background: rgb(243, 243, 243); width: 494px; height: 122px; overflow: hidden; float: left;
}
.content-main-communication .box-comm span {
	line-height: 122px; vertical-align: middle; display: inline-block;
}
.content-main-communication .box-comm .ls1 {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/cycle.png") no-repeat 0% 0% / 100% 100%; width: 151px; height: 72px; margin-left: 30px;
}
.content-main-communication .box-comm .ls2 {
	color: rgb(48, 48, 49); font-size: 18px; margin-left: 16px;
}
.content-main-communication .box-comm .ls3 {
	color: rgb(41, 178, 106); font-size: 24px; margin-left: 20px;
}
.content-main-communication .box-comm2 {
	margin-left: 16px;
}
.content-main-communication .box-comm2 .ls1 {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/total_num.jpg") no-repeat 0% 0% / 100% 100%; width: 164px; height: 53px;
}
.comm-data h3 {
	margin: 44px 0px 22px; color: rgb(48, 48, 49); font-size: 18px;
}
.comm-data .dts {
	background: rgb(214, 214, 214); color: rgb(133, 132, 132); line-height: 50px; overflow: hidden; font-size: 14px;
}
.comm-data .col1 {
	vertical-align: middle; float: left; display: inline-block;
}
.comm-data .col2 {
	vertical-align: middle; float: left; display: inline-block;
}
.comm-data .col3 {
	vertical-align: middle; float: left; display: inline-block;
}
.comm-data .col4 {
	vertical-align: middle; float: left; display: inline-block;
}
.comm-data .col1 {
	width: 208px; margin-left: 82px;
}
.comm-data .col2 {
	width: 208px;
}
.comm-data .col3 {
	width: 253px;
}
.comm-data-repo .col3 {
	width: 450px;
}
.comm-data .dds {
	padding: 15.5px 0px; color: rgb(48, 48, 49); overflow: hidden; font-size: 14px;
}
.comm-data :nth-child(2n).dds {
	background: rgb(255, 255, 255);
}
.comm-data :nth-child(2n+1).dds {
	background: rgb(243, 243, 243);
}
.comm-data .dds .col2 {
	color: rgb(41, 178, 106);
}
.comm-data {
	padding-bottom: 90px;
}
.content-main-meeting {
	background: rgb(247, 247, 247);
}
.communications {
	width: 100%; overflow: hidden; margin-bottom: 60px;
}
.communications .line {
	background: rgb(219, 220, 220); margin: 0px auto; width: 2px; height: 53px;
}
.communications .comm-times {
	background: rgb(50, 177, 108); margin: 0px auto; border-radius: 3px; width: 120px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 18px;
}
.communications .communication {
	width: 502px; position: relative;
}
.communications .left {
	border-right-color: rgb(219, 220, 220); border-right-width: 2px; border-right-style: solid; float: left;
}
.communications .right {
	border-left-color: rgb(219, 220, 220); border-left-width: 2px; border-left-style: solid; float: right;
}
.communications .left .communication-info {
	padding: 3px 0px; text-align: right; margin-right: 32px; float: right; position: relative;
}
.communications .right .communication-info {
	padding: 3px 0px; margin-left: 32px; position: relative;
}
.communication-info ul {
	background: rgb(255, 255, 255); padding: 18px 20px; border: 1px solid rgb(233, 233, 233); border-image: none; width: 375px;
}
.communications .left .communication-info ul::before {
	background: inherit; padding: 3px; border-image: inherit; top: 50%; right: -4px; margin-top: -6px; border-top-color: inherit; border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: inherit; border-top-width: inherit; border-right-width: 0px; border-bottom-width: 0px; border-left-width: inherit; border-top-style: inherit; border-right-style: none; border-bottom-style: none; border-left-style: inherit; position: absolute; z-index: 10; content: ""; transform: rotate(135deg);
}
.communications .right .communication-info ul::before {
	background: inherit; padding: 3px; border-image: inherit; left: -4px; top: 50%; margin-top: -6px; border-top-color: inherit; border-right-color: currentColor; border-bottom-color: currentColor; border-left-color: inherit; border-top-width: inherit; border-right-width: 0px; border-bottom-width: 0px; border-left-width: inherit; border-top-style: inherit; border-right-style: none; border-bottom-style: none; border-left-style: inherit; position: absolute; z-index: 10; content: ""; transform: rotate(-45deg);
}
.communication-info ul li {
	color: rgb(48, 48, 49); font-size: 14px;
}
.communication-info ul li span {
	margin: 0px 8px; color: rgb(207, 207, 207); display: inline-block;
}
.communication-info ul .big-font {
	color: rgb(41, 179, 106); overflow: hidden; font-size: 18px; margin-bottom: 1px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.mark-icon {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/mark-icon.png") 0% 0% / cover; top: 50%; width: 10px; height: 10px; margin-top: -7px;
}
.communications .left .mark-icon {
	right: -6px; float: right; position: absolute; z-index: 10;
}
.communications .right .mark-icon {
	left: -6px; float: left; position: absolute; z-index: 10;
}
.college-pics {
	overflow: hidden; padding-bottom: 90px;
}
.college-pics-item-out {
	width: 232px; margin-bottom: 25px; margin-left: 25px; float: left;
}
.college-pics-item-out {
	width: 232px; margin-left: 25px; float: left;
}
.fst-collu {
	margin-left: 0px;
}
.college-pics-item-out .dow-load {
	color: rgb(102, 102, 102); font-size: 14px; float: left;
}
.college-pics-item-out .dow-load {
	background: url("http://mobile02.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/doc_icon.png") no-repeat 2px; padding-left: 18px;
}
.college-pics-item-out .dow-load span {
	vertical-align: middle; display: inline-block;
}
.college-pics-item-out .dow-load a {
	vertical-align: middle; display: inline-block;
}
.college-pics-item-out .dow-load .doc-name {
	overflow: hidden; margin-right: 2px; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 103px; -o-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; -moz-text-overflow: ellipsis;
}
.college-pics-item-out .dow-load .bown-btn {
	color: rgb(50, 177, 108); text-decoration: underline;
}
.college-pics-item {
	background: rgb(255, 255, 255); border: 1px solid rgb(233, 233, 233); border-image: none; width: 232px; height: 226px; margin-bottom: 50px;
}
.college-pics-item img {
	width: 232px; height: 184px; float: left; display: inline;
}
.college-pics-item p {
	background: rgb(255, 255, 255); width: 100%; height: 40px; text-align: center; line-height: 40px; overflow: hidden; font-size: 18px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.content-main-exam {
	background: rgb(235, 236, 237);
}
.content-main-exam .des {
	color: rgb(48, 48, 49); font-size: 18px; margin-bottom: 22px;
}
.content-main-interview .des {
	color: rgb(48, 48, 49); font-size: 18px; margin-bottom: 22px;
}
.content-main-exam .des span {
	color: rgb(54, 181, 114); font-size: 30px;
}
.content-main-interview .des span {
	color: rgb(54, 181, 114); font-size: 30px;
}
.exam-dl .col1 {
	width: 358px;
}
.exam-dl .col2 {
	width: 226.5px;
}
.exam-dl .col3 {
	width: 236px;
}
.exam-dl .col4 {
	width: 87px;
}
.exam-dl .dds .col2 {
	color: rgb(41, 178, 106);
}
.exam-dl .dds .col3 {
	color: rgb(41, 178, 106);
}
.exam-dl .dds .col4 {
	color: rgb(41, 178, 106);
}
.content-main-interview .col1 {
	width: 434px;
}
.content-main-interview .col2 {
	width: 344px; color: rgb(48, 48, 49);
}
.content-main-interview .col3 {
	width: 100px;
}
.content-main-interview .dds .col3 {
	color: rgb(41, 178, 106);
}
.content-main-perform {
	background: rgb(235, 236, 237); padding-bottom: 90px;
}
.perform-pic {
	width: 300px; height: 250px; margin-left: 92px; float: right;
}
.content-main-perform .main {
	overflow: hidden;
}
.content-main-perform .detail {
	width: 612px; color: rgb(48, 48, 49); line-height: 32px; font-size: 14px; margin-top: -9px; vertical-align: top;
}
.report-btm {
	background: rgb(214, 214, 214); height: 72px; text-align: center; color: rgb(154, 165, 157); line-height: 72px; font-size: 12px;
}
.text-nodata {
	text-align: center; color: rgb(153, 153, 153); padding-top: 20px; font-size: 18px;
}
.phone-num-box .input-valide {
	width: 200px;
}
.codeImg {
	margin-top: 3px; float: right;
}
.wrap-box .step .number-3tille {
	width: 410px;
}
.wrap-box .step .text-step-3tille {
	width: 570px;
}
.hint {
	background: rgba(0, 0, 0, 0.7); padding: 10px 20px; border-radius: 3px; text-align: center; color: rgb(255, 255, 255); font-size: 16px; display: none; position: fixed; z-index: 3;
}
.pp-radio {
	margin-left: 10px;
}
.pp-radio li {
	line-height: 30px; float: none;
}
.school-choose {
	line-height: 30px; padding-right: 40px; font-size: 14px; font-weight: 100; float: right;
}
.school-choose span {
	font-size: 14px; font-weight: 100;
}
.rectangle {
	border: 1px solid rgb(226, 226, 226); border-image: none; width: 12px; height: 12px; margin-top: 8px; margin-right: 10px; float: left; display: block;
}
.right-active {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/enterprise/right_03.png");
}
.g-font {
	color: rgb(170, 170, 170);
}
.pass-box .eye1 {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/eyes1_03.png") no-repeat -2px 15px;
}
.login-option1 {
	height: 14px;
}
.edit-box .resume-title .no-done1 {
	color: rgb(153, 153, 153); margin-left: 5px;
}
.up-edit-box .required-tille {
	margin-top: 2px; margin-left: 10px; float: left; max-width: 470px;
}
.edit-box .line .right-block1 {
	margin-left: 10px; float: left;
}
.wrap-box .left-nav .nav li {
	min-height: 32px;
}
.input .w-prompt {
	background: none; width: 450px; height: auto; color: rgb(204, 204, 204); line-height: 21px; padding-left: 0px; min-height: 21px;
}
.edit-box .line {
	
}
.edit-box .pre-line .con-text {
	line-height: 20px;
}
.filename {
	margin-top: 14px; margin-left: 5px; float: left;
}
.edit-box .file-title {
	float: left;
}
.edit-box .uploadify {
	margin-top: 0px;
}
.edit-box .filename {
	margin-top: 0px;
}
.moxie-shim-html51 {
	width: 20px !important; height: 20px !important;
}
.cycgift {
	width: 629px; margin-top: 50px;
}
.cyctit img {
	width: 26px; height: 26px; margin-top: 2px; display: inline-block;
}
.cyctit p {
	font-family: "SimHei"; font-size: 28px; font-weight: bold; margin-left: 10px; display: inline-block;
}
.cycgift ul {
	list-style: none; width: 100%; margin-top: 15px;
}
.cycgift ul li {
	list-style: none; padding: 14px 0px 15px; width: 100%; height: 36px; border-top-color: rgb(237, 236, 236); border-top-width: 1px; border-top-style: solid;
}
.cycgift ul li .cycoran {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/cycorange.png") no-repeat; width: 96px; height: 25px; text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-size: 16px; margin-top: 6px; float: left;
}
.cycgift ul li p {
	color: rgb(0, 0, 0); font-size: 16px; margin-top: 9px; margin-left: 15px; float: left;
}
.cycgift ul li p span {
	color: rgb(60, 184, 96); margin-left: 15px;
}
.cycgift ul li .cycsq {
	background: url("http://web01.chrstatic.com/campus/festatic.chinahr.com/images/ats/pc/cycgreen.png") no-repeat; width: 90px; height: 36px; text-align: center; line-height: 36px; font-size: 14px; float: right;
}
.cycgift ul li .cycsq a {
	color: rgb(255, 255, 255);
}
